.counter-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
}
.counter-value{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.counter-buttons{
    display: flex;
    justify-content: center;
}

.counter-btn{
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.counter-btn:hover{
    background-color: #0069d9;
}